/**{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}*/

header {
    display : flex;
    justify-content : space-between;
    flex-wrap : wrap;
}
header h1 {
    
    color : #39a6b2;
    margin : 0;
    display : flex;
    font-weight : bold;
    
}

header nav {
   
    margin : 7px 0;
}

header nav ul {
    display : flex;
    flex-wrap : wrap;
    justify-content : space-between;
    align-items : center;
    list-style : none;
}

header nav ul li a {
    padding : 10px 15px;
    font-weight : lighter;
    font-size : 1.55vw;
}

body {
    background-color : whitesmoke;
}

.subtitle {
    text-align : right;
    color : #C6D1FF;
    background-color : black;
}


.work {
    display : flex;
    flex-wrap : wrap;
    justify-content : space-between;
    max-width : 100%;
    margin : 0 auto;
    
}

.text {
    text-align : center;
    border-right : 3px solid;
}


.project {
    flex : 1;
    margin : 15px 8px;
    padding : 30px;
    border-radius : 6px;
    background-color : #808080;

   
}

.project img {
    border-radius : 6px;
    border-style : 2px solid;
}

.project-bio {
    max-width : 100%;
    font-weight : bold;
}

.project img {
    width : 100%;
}

.project-bio {
    padding : 25px;
}

footer {
    display : flex;
    justify-content : space-between;
    flex-wrap : wrap;
    
}

footer h2 {
    display : flex;
    color : #39a6b2;
    margin : 0;
    font-weight : bold;
    padding : 0 15px;
    
    
}

footer h3 {
    color : #39a6b2;
    margin : 0;
    display : flex;
    font-weight : bold;
}

footer nav ul {
    display : flex;
    flex-wrap : wrap;
    justify-content : space-between;
    align-items : center;
    list-style : none;
}

footer nav ul li a {
    padding : 10px 15px;
    font-weight : bold;
    font-size : 1.55vw;
    color : #39a6b2;
}

